{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles Feed</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
      <header class="main-header">
      <div class="header-left">
          <a href="/"><img src="{% static "logo1.png" %}" alt="Left Image"></a>
      </div>

      <div class="search__container">
          <input class="search__input" type="text" placeholder="Search">
      </div>

      <div class="header-right">
          {% if user_profile.partnership %}
              <img id='add_post'src="media/plus.png" alt="">
              {% endif %}

              <a href="/upload"><img class="profile_img" src="{{ user_profile.profile_img.url }}" alt=""></a>
      </div>
  </header>
    <div class="full-article">

        <div class="content-section">

        <h1 class="title">{{title|safe}}</h1>
        <div class="content-header">
            <a href="/"><img class="author-img" src="{{ authorProfileImg.url }}" alt=""></a>
            <div>
                <h3>{{ user }} </h3>
                <p>Published in {{ date }} &middot; {{ min_read }} min read<p>
            </div>
        </div>
        <hr>
        <div id="content">{{content|safe}}</div>
        </div>

    </div>

       </body>
</html>
