{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles Feed</title>
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
</head>
<body>
        <header class="main-header">
        <div class="header-left">
            <img src="media/logo1.png" alt="Left Image">
        </div>

        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div>

        <div class="header-right">
            {% if user_profile.partnership %}
                <img id='add_post'src="media/plus.png" alt="">
                {% endif %}
            <img src="{{ user_profile.profile_img.url }}" alt="">
        </div>
    </header>
       </body>
</html>
