{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles Feed</title>
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/article-preview.css' %}">
</head>
<body>
      <header class="main-header">
      <div class="header-left">
        <a href="/"><img src="{% static 'logo1.png' %}" alt="Left Image"></a>
      </div>

      <div class="search__container">
          <input class="search__input" type="text" placeholder="Search">
      </div>

      <div class="header-right">
          {% if user_profile.partnership %}
          <a href="/upload_page"><img id='add_post'src="{% static 'plus.png' %}" alt=""></a>
              {% endif %}
              <a href="/upload_page"><img class="profile_img" src="{{ user_profile.profile_img.url }}" alt=""></a>
      </div>
  </header>
  <!--  <div id='posts_container'> -->
  {% for post in posts reversed %}
       <div class="main-container">
    <div class="grid-container">
      <div class="image-section" style="background-image: url('{{post.cover_img.url}}')";></div>
      <div class="content-section">
        <div class="label-container">
          <div class="author-info">
            <span class="author-name">by <a href="#"><b>{{post.user}}</b></a></span>
            <span class="separator"> &middot; </span>
            <span class="date">{{post.formatted_date}}</span>

          </div>

        </div>
        <h1 class="title">{{post.title|safe}}</h1>
        <p class="description">{{post.description|safe}}</p>
         
        <div class="footer-info">
        <a class="read-more" href="{% url 'article' user=post.user  pk=post.id %}">Read more</a>
          <span class="read-time">{{post.min_read}} min read</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!--</div> -->

       </body>
</html>
