{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
<div class="signup-container">
        <form method="post">
          {% csrf_token %}
            <h2>Sign Up</h2>
            
            <input type="text" id="username" name="username" placeholder="username" required="">
            
            <input type="email" id="email" name="email" placeholder="email" required="">
            
            <input type="password" id="password" name="password" placeholder="password" required="">
            
            <input type="password" id="password2" name="password2" placeholder="confirm password" required="">
            
            <button type="submit">Sign Up</button>
          <footer>
            Have you got an account? <a href="/signin">Sign In</a>
            </footer>
        </form>
    </div>
</body>
</html>
