body {
  --s: 50px;
  --c: hsl(226, 37%, 7%);
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the color from the parent element */
  font-weight: normal; /* Set font weight to normal */
}

/* Base styling */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
    width: 100%;
    margin: 0 auto;
    background-color: hsl(226, 37%, 7%);
    font-family: 'Raleway', sans-serif;
}

.search__container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(227, 37%, 15%);
}

.search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #e7eaf4;
    }

.search__input {
        width: 70%;
        padding: 12px 24px;
        background-color: transpa#575756;rent;
        transition: transform 250ms ease-in-out;
        font-size: 16px;
        line-height: 18px;
        color: #e7eaf4;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 100px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: #e7eaf4;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
            color: #e7eaf4;
            letter-spacing: 1.5px;
        }
#posts_container {
    margin-top: 120px; 
}

.main-header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: hsl(227, 37%, 15%);
    color: #e7eaf4;
    border-bottom: .1px solid #575756;
}

.header-left img {
    max-width: auto;
    max-height: 35px;
}

.header-right img {
    width: 34px;
    height: 34px;
    margin-left: 10px;
    border-radius: 50%;
}

#add_post {
    max-width: 24px;
    max-height: 24px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.profile_img:hover {
  border: 3px solid #575756;
}
